[Desktop Entry]
Encoding=UTF-8
Name=awesome
Comment=Gnome3-like panel for AwesomeWM
NoDisplay=false
TryExec=svirfneblin-panel
Exec=svirfneblin-panel
Type=Application
